# flake8: noqa

# import apis into api package
import lazy_import
from typing import TYPE_CHECKING

if TYPE_CHECKING:
    {{#apiInfo}}{{#apis}}from {{apiPackage}}.{{classFilename}} import {{classname}}
    {{/apis}}{{/apiInfo}}
else:
    {{#apiInfo}}{{#apis}}{{classname}} = lazy_import.lazy_class('{{apiPackage}}.{{classFilename}}.{{classname}}')
    {{/apis}}{{/apiInfo}}