# coding: utf-8

# flake8: noqa
{{>partial_header}}

import lazy_import
from typing import TYPE_CHECKING

if TYPE_CHECKING:
    # import models into model package
    {{#models}}
    {{#model}}
    from {{modelPackage}}.{{classFilename}} import {{classname}}
    {{/model}}
    {{/models}}
else:
    # import models into model package
    {{#models}}
    {{#model}}
    {{classname}} = lazy_import.lazy_class('{{modelPackage}}.{{classFilename}}.{{classname}}')
    {{/model}}
    {{/models}}
