# custom-templates/my_client.mustache
"""My custom client wrapper"""
from {{packageName}}.api_client import ApiClient as _ApiClient
from {{packageName}}.configuration import Configuration
{{#apiInfo}}
{{#apis}}
from {{packageName}}.api.{{classVarName}} import {{classname}}
{{/apis}}
{{/apiInfo}}


class DefectDojo:
    """A custom wrapper around the generated API client"""
    def __init__(self, base_url: str, token: str):
        self.config = Configuration(host=base_url, api_key={'tokenAuth': token}, api_key_prefix={'tokenAuth': 'Token'})
        self.api_client = _ApiClient(configuration=self.config)
        {{#apiInfo}}
        {{#apis}}
        self.{{classVarName}} = {{classname}}(self.api_client)
        {{/apis}}
        {{/apiInfo}}
